/* Fonts */
/* Add to your CSS Under Imported Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap') */
/* 
Add to text content
Habibi
Add to headings
Heading: "Irish Grover

Sizes
H1: 2.5em
H2: 1.75em
H3, Text: 1.25em
Colors
Green: #06A816
Orange: #E75D02
Black: #000000
White: #ffffff
*/

/*-------------------- IMPORTED FONT --------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST -------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------- ROOT VARIABLES -------------------------*/
html {
    background-color: #ffffff;
}

/*------------ GLOBAL STYLES ( mobile first/small) ------------*/
body {
    min-width: 428px;
    font-family: 'Habibi', serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 0px;
    width: 100%;
}

header h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header p {
    color: #ffffff;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

header, footer {
    width: 100%;
    background-color: #06A816;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 40px;
}

nav li {
    list-style: none;
}

nav ul li {
    width: 75%;
    text-align: center;
}

nav a {
    text-decoration: none;
    background-color: #E75D02;
    display: block;
    color: #ffffff;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

nav a:hover {
    background-color: lightgray;
    color: black;
}

nav ul li:has(a[href="top"]) {
    display: none;
}

h1, h2, h3 {
    font-family: 'Irish Grover', serif;
}

h1, h2, h3, p, img {
    padding: 10px;
}

h2 {
    font-size: 2em;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}